@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #000814;
  --color-secondary: #001d3d;
  --color-background: #003566;
  --color-: #0075bf;
  --color-yellow-primary: #ffc300;
  --color-yellow-secondary: #ffd60a;
}

.header-color {
  background-color: var(--color-background);
}
